Repository ravenoak/devsynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements-traceability, check-reqid

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: devsynth-align
      name: devsynth align
      entry: devsynth align --quiet
      language: system
      pass_filenames: false
    - id: check-frontmatter
      name: check frontmatter formatting
      entry: python scripts/fix_frontmatter.py --check
      language: system
      pass_filenames: false
    - id: check-internal-links
      name: check internal links
      entry: python scripts/check_internal_links.py
      language: system
      pass_filenames: false
    - id: fix-code-blocks
      name: fix code blocks
      entry: python scripts/fix_code_blocks.py --check
      language: system
      pass_filenames: false
    - id: find-syntax-errors
      name: find syntax errors
      entry: python scripts/find_syntax_errors.py
      language: system
      pass_filenames: false
    - id: verify-mvuu-references
      name: verify mvuu references
      entry: python scripts/verify_mvuu_references.py
      language: system
      pass_filenames: false
      stages: [push]
    - id: verify-requirements-traceability
      name: verify requirements traceability
      entry: poetry run python scripts/verify_requirements_traceability.py
      language: system
      pass_filenames: false
      files: ^docs/requirements_traceability.md$
    - id: spec-or-test-updates
      name: warn on missing spec or test updates
      entry: python scripts/check_spec_or_test_updates.py
      language: system
      pass_filenames: false
    - id: check-reqid
      name: check test ReqID
      entry: python scripts/check_reqid.py
      language: system
      pass_filenames: true
      files: ^tests/.*\.py$
    - id: update-traceability
      name: update traceability
      entry: python scripts/update_traceability.py
      language: system
      pass_filenames: false
      stages: [post-commit]
    - id: policy-audit
      name: policy audit
      entry: python scripts/policy_audit.py
      language: system
      pass_filenames: false
      stages: [push]
    - id: commit-message-lint
      name: commit message lint
      description: lint commit messages for MVUU compliance
      entry: python scripts/commit_linter.py
      language: system
      stages: [commit-msg]
      pass_filenames: true
    - id: bandit
      name: bandit security check
      entry: poetry run bandit -q -r src
      language: system
      pass_filenames: false
      stages: [push]
    - id: safety
      name: safety vulnerability check
      entry: poetry run safety check --full-report
      language: system
      pass_filenames: false
      stages: [push]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      additional_dependencies: [flake8-docstrings]
      args: [--exit-zero]

test: gate memory backend tests behind flags
  issues/memory-backend-integration.md
  tests/README.md
  tests/unit/application/memory/test_chromadb_store.py
  tests/unit/application/memory/test_duckdb_store.py
  tests/unit/application/memory/test_duckdb_store_hnsw.py
  tests/unit/application/memory/test_faiss_store.py
  tests/unit/application/memory/test_kuzu_store.py
  tests/unit/application/memory/test_lmdb_store.py
  tests/unit/application/memory/test_rdflib_store.py
  tests/unit/application/memory/test_tinydb_store.py
Due: check-reqid

docs: finalize 0.1.0-alpha.1 release notes
  CHANGELOG.md
  dialectical_audit.log
  docs/release/0.1.0-alpha.1.md
Due: none

fix: handle parametrized markers
  issues/verify-test-markers-script.md
  scripts/verify_test_markers.py
  test_markers_report.json
  tests/unit/application/edrr/test_micro_cycle_execution.py
  tests/unit/application/memory/test_duckdb_store.py
  tests/unit/application/memory/test_lmdb_store.py
  tests/unit/application/memory/test_rdflib_store.py
  tests/unit/application/memory/test_tinydb_store.py
  tests/unit/application/memory/test_vector_memory_adapter_extra.py
Due: check-reqid

docs: expand memory and reasoning specs
  dialectical_audit.log
  docs/specifications/complete-memory-system-integration.md
  docs/specifications/finalize-dialectical-reasoning.md
  issues/Complete-memory-system-integration.md
  issues/Finalize-dialectical-reasoning.md
  src/devsynth/application/memory/memory_integration.py
  src/devsynth/application/orchestration/dialectical_reasoner.py
Due: none

test: add tiered cache validation spec and tests
  docs/analysis/tiered_cache_eviction.md
  docs/specifications/tiered-cache-validation.md
  tests/unit/application/memory/test_tiered_cache_validation.py
Due: check-reqid

test: cover recursion termination bounds
  docs/specifications/edrr-recursion-termination.md
  tests/behavior/features/recursive_edrr_coordinator.feature
  tests/unit/application/edrr/test_recursion_termination.py
Due: check-reqid

test: ensure logger handles diverse exc_info
  pytest.ini
  tests/unit/devsynth/test_logger.py
Due: check-reqid

fix: handle parametrized test markers
  issues/verify-test-markers-script.md
  scripts/verify_test_markers.py
  test_markers_report.json
  tests/unit/application/memory/test_duckdb_store.py
  tests/unit/application/memory/test_faiss_store.py
  tests/unit/application/memory/test_graph_memory_adapter.py
  tests/unit/application/memory/test_knowledge_graph_utils.py
  tests/unit/application/memory/test_lmdb_store.py
  tests/unit/application/memory/test_memory_manager.py
  tests/unit/application/memory/test_rdflib_store.py
  tests/unit/application/memory/test_recovery.py
  tests/unit/application/memory/test_tinydb_store.py
  tests/unit/application/memory/test_vector_memory_adapter_extra.py
Due: check-reqid

docs: document memory integration and dialectical reasoning
  dialectical_audit.log
  docs/specifications/complete-memory-system-integration.md
  docs/specifications/finalize-dialectical-reasoning.md
  issues/Complete-memory-system-integration.md
  issues/Finalize-dialectical-reasoning.md
  src/devsynth/adapters/memory/memory_adapter.py
  src/devsynth/domain/models/wsde_knowledge.py
Due: none

docs: track virtualenv setup
  dialectical_audit.log
  docs/release/0.1.0-alpha.1.md
  issues/project-state-analysis.md
  issues/virtualenv-configuration.md
Due: none

docs: track release readiness blockers
  dialectical_audit.log
  issues/release-readiness-v0-1-0-alpha-1.md
  issues/virtualenv-configuration.md
Due: none

docs: record environment and test-status progress
  issues/devsynth-run-tests-command.md
  issues/release-readiness-v0-1-0-alpha-1.md
  issues/verify-test-markers-script.md
  issues/virtualenv-configuration.md
Due: none

chore: ensure poetry virtualenv creation
  .github/workflows/ci.yml
  docs/developer_guides/development_setup.md
  scripts/install_dev.sh
Due: none

test: add performance benchmarking feature
  Taskfile.yml
  docs/performance/baseline_metrics.json
  docs/performance/performance_and_scalability.md
  docs/performance/scalability_metrics.json
  tests/behavior/features/performance_and_scalability_testing.feature
Due: none

perf: optimize marker verification and fix tests
  scripts/verify_test_markers.py
  test_markers_report.json
  tests/unit/domain/test_memory_type.py
  tests/unit/general/test_speed_option.py
Due: check-reqid

chore: resolve dialectical audit entries
  dialectical_audit.log
  docs/developer_guides/index.md
  docs/developer_guides/virtual_environment_enforcement.md
  src/devsynth/feature_markers.py
Due: none

feat(memory): add tiered cache layers
  dialectical_audit.log
  docs/specifications/multi-layered-memory-system-and-tiered-cache-strategy.md
  src/devsynth/memory/__init__.py
  src/devsynth/memory/tiered_cache.py
  tests/behavior/features/multi_layered_memory_system_and_tiered_cache_strategy.feature
Due: none

feat: ensure task is installed and validated
  .github/workflows/ci.yml
  AGENTS.md
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
Due: none

feat(agents): add multi-agent coordination interface
  dialectical_audit.log
  docs/requirements_traceability.md
  docs/specifications/multi-agent-collaboration.md
  src/devsynth/agents/__init__.py
  src/devsynth/agents/multi_agent_coordinator.py
  tests/behavior/features/multi_agent_collaboration.feature
  tests/unit/agents/test_multi_agent_coordinator.py
Due: verify-requirements-traceability, check-reqid

feat(memory): add tiered cache system
  docs/specifications/multi-layered-memory-system-and-tiered-cache-strategy.md
  src/devsynth/memory/__init__.py
  src/devsynth/memory/layered_cache.py
  tests/behavior/features/multi_layered_memory_system_and_tiered_cache_strategy.feature
  tests/unit/memory/__init__.py
  tests/unit/memory/test_layered_cache.py
Due: check-reqid

test: cover multi-agent coordination consensus
  docs/multi-agent-consensus-convergence.md
  docs/specifications/multi-agent-collaboration.md
  src/devsynth/agents/__init__.py
  src/devsynth/agents/multi_agent_coordinator.py
  tests/behavior/features/multi_agent_collaboration.feature
  tests/unit/agents/test_multi_agent_coordinator.py
Due: check-reqid

chore: enforce poetry virtualenv
  .github/workflows/ci.yml
  AGENTS.md
  docs/release/0.1.0-alpha.1.md
  poetry.toml
  scripts/install_dev.sh
Due: none
