Repository ravenoak/devsynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements-traceability, check-reqid

verify-requirements-traceability:
  name: verify requirements traceability
  entry: poetry run python scripts/verify_requirements_traceability.py
  language: system
  pass_filenames: false

check-reqid:
  name: check test ReqID
  entry: python scripts/check_reqid.py
  language: system
  pass_filenames: true

docs: add testing guidelines
  tests/AGENTS.md
Due: none

Gate optional resources and document slow test results
  docs/implementation/project_status.md
  tests/conftest.py
Due: check-reqid

Ensure Taskfile support via go-task installation
  AGENTS.md
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
Due: none

test: add mvu command execution steps
  tests/behavior/steps/mvu_command_execution_steps.py
  tests/behavior/steps/test_mvu_command_execution_steps.py
Due: check-reqid

Guard optional deps in tests
  tests/integration/memory/test_reverse_sync_retrieval.py
  tests/integration/memory/test_sync_manager_core_transactions.py
  tests/integration/memory/test_transaction_failure_recovery.py
  tests/integration/memory/test_transactional_sync.py
  tests/unit/application/code_analysis/test_transformer.py
Due: check-reqid

chore: add release state verification
  Taskfile.yml
  docs/release/0.1.0-alpha.1.md
  docs/requirements_traceability.md
  docs/specifications/index.md
  docs/specifications/release-state-check.md
  scripts/verify_release_state.py
  tests/behavior/features/release_state_check.feature
  tests/behavior/steps/release_state_steps.py
  tests/behavior/test_release_state_check.py
Due: verify-requirements-traceability, check-reqid

chore: add version bump helper
  Taskfile.yml
  docs/release/0.1.0-alpha.1.md
  docs/specifications/bump-version-helper.md
  docs/specifications/index.md
  scripts/bump_version.py
  tests/behavior/features/bump_version.feature
Due: none

docs: document post-tag version bump
  Taskfile.yml
  dialectical_audit.log
  docs/release/0.1.0-alpha.1.md
  docs/specifications/bump-version-script.md
  docs/specifications/index.md
  scripts/bump_version.py
  tests/behavior/features/bump_version_script.feature
  tests/behavior/features/index.md
  tests/behavior/steps/test_bump_version_script_steps.py
Due: check-reqid

test: add dialectical audit gating spec and tests
  docs/policies/dialectical_audit.md
  docs/specifications/dialectical_audit_gating.md
  docs/specifications/index.md
  scripts/verify_release_state.py
  tests/behavior/features/dialectical_audit_gating.feature
  tests/behavior/features/index.md
  tests/unit/scripts/test_verify_release_state.py
Due: check-reqid

feat: gate release on dialectical audit
  docs/policies/dialectical_audit.md
  docs/specifications/dialectical-audit-gating.md
  scripts/verify_release_state.py
  tests/behavior/features/dialectical_audit_gating.feature
  tests/behavior/steps/test_dialectical_audit_gating_steps.py
  tests/behavior/test_dialectical_audit_gating.py
Due: check-reqid

feat: verify task availability
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
Due: none

docs: mark changelog as draft
  CHANGELOG.md
Due: none

test: ensure release state tags
  tests/unit/scripts/test_verify_release_state.py
Due: check-reqid

docs: document release state verification
  docs/release/0.1.0-alpha.1.md
Due: none

refactor tests to skip if deps missing
  tests/behavior/test_agentapi.py
  tests/performance/test_api_benchmarks.py
  tests/test_chromadb_store_import.py
Due: check-reqid

docs: note untagged 0.1.0-alpha.1
  README.md
Due: none

docs: refine agent workflows
  AGENTS.md
  docs/AGENTS.md
  scripts/codex_setup.sh
  src/AGENTS.md
  tests/AGENTS.md
Due: none

docs: refine AGENTS compliance and workflow guidance
  AGENTS.md
  docs/AGENTS.md
  src/AGENTS.md
  tests/AGENTS.md
Due: none

docs: trace audit features to specifications
  dialectical_audit.log
  tests/behavior/features/code_analysis.feature
  tests/behavior/features/complete_memory_system_integration.feature
  tests/behavior/features/complete_sprint_edrr_integration.feature
  tests/behavior/features/critical_recommendations_follow_up.feature
  tests/behavior/features/enhance_retry_mechanism.feature
  tests/behavior/features/expand_test_generation_capabilities.feature
  tests/behavior/features/finalize_dialectical_reasoning.feature
  tests/behavior/features/finalize_wsde_edrr_workflow_logic.feature
  tests/behavior/features/improve_deployment_automation.feature
  tests/behavior/features/integrate_dialectical_audit_into_ci.feature
  tests/behavior/features/multi_agent_collaboration.feature
  tests/behavior/features/multi_layered_memory_system.feature
  tests/behavior/features/reprioritize_open_issues.feature
  tests/behavior/features/resolve_pytest_xdist_assertion_errors.feature
  tests/behavior/features/user_authentication.feature
Due: none

docs: align pytest-xdist issue with template
  issues/Resolve-pytest-xdist-assertion-errors.md
Due: none

test: guard optional dependencies in API tests
  tests/behavior/test_agentapi.py
  tests/performance/test_api_benchmarks.py
Due: check-reqid

docs: note poetry venv path
  AGENTS.md
Due: none

Path conditions:
  verify-requirements-traceability: any of: ^docs/requirements_traceability.md$
  check-reqid: any of: ^tests/.*\.py$
