Repository ravenoak/devsynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements-traceability, check-reqid

verify-requirements-traceability:
  name: verify requirements traceability
  entry: poetry run python scripts/verify_requirements_traceability.py
  language: system
  pass_filenames: false

check-reqid:
  name: check test ReqID
  entry: python scripts/check_reqid.py
  language: system
  pass_filenames: true

docs: add specs and features for uncovered modules
  docs/requirements_traceability.md
  docs/specifications/cli_entrypoint.md
  docs/specifications/exceptions_framework.md
  docs/specifications/feature_markers.md
  docs/specifications/logger_configuration.md
  docs/specifications/logging_setup.md
  docs/specifications/metrics_module.md
  tests/behavior/features/cli_entrypoint.feature
  tests/behavior/features/exceptions_framework.feature
  tests/behavior/features/feature_markers.feature
  tests/behavior/features/logger_configuration.feature
  tests/behavior/features/logging_setup.feature
  tests/behavior/features/metrics_module.feature
Due: verify-requirements-traceability

docs: clarify pre-release status for 0.1.0-alpha.1
  CHANGELOG.md
  docs/release/0.1.0-alpha.1.md
Due: none

fix: speed up marker checks and restore sentinel test
  issues/release-readiness-v0-1-0-alpha-1.md
  scripts/verify_test_markers.py
  tests/README.md
  tests/test_speed_dummy.py
  tests/unit/general/test_speed_option.py
  tests/verify_test_organization.py
Due: check-reqid

refactor: remove wsde circular imports
  src/devsynth/application/orchestration/dialectical_reasoner.py
  src/devsynth/domain/models/wsde_base.py
  src/devsynth/domain/models/wsde_facade.py
  src/devsynth/domain/models/wsde_summarization.py
  tests/unit/methodology/test_dialectical_reasoning.py
  tests/unit/methodology/test_dialectical_reasoning_loop.py
Due: check-reqid

test: guard LMStudio provider tests with opt-in flag
  docs/developer_guides/testing.md
  tests/integration/general/test_error_handling_at_integration_points.py
  tests/integration/general/test_provider_system.py
  tests/integration/general/test_provider_system_configurations.py
  tests/unit/adapters/providers/test_embeddings.py
  tests/unit/adapters/providers/test_provider_factory.py
  tests/unit/adapters/test_provider_factory.py
  tests/unit/adapters/test_provider_factory_env_vars.py
  tests/unit/adapters/test_provider_system.py
Due: check-reqid

docs: clean issue dependencies and archive closed ticket
  docs/specifications/integrate-dialectical-audit-into-ci.md
  issues/Critical-recommendations-follow-up.md
  issues/Expand-test-generation-capabilities.md
  issues/Finalize-WSDE-EDRR-workflow-logic.md
  issues/Finalize-dialectical-reasoning.md
  issues/Resolve-pytest-xdist-assertion-errors.md
  issues/archived/Integrate-dialectical-audit-into-CI.md
Due: none

docs: track wsde edrr simulation divergence
  issues/release-readiness-v0-1-0-alpha-1.md
  issues/wsde-edrr-simulation-divergence.md
Due: none

docs: track dialectical audit documentation gaps
  CHANGELOG.md
  issues/archived/wsde-edrr-simulation-divergence.md
  issues/dialectical-audit-documentation.md
  issues/release-readiness-v0-1-0-alpha-1.md
  scripts/wsde_edrr_simulation.py
  tests/test_speed_dummy.py
  tests/unit/scripts/test_wsde_edrr_simulation.py
Due: check-reqid

chore: track test runner hang
  issues/devsynth-run-tests-hangs.md
  issues/release-readiness-v0-1-0-alpha-1.md
Due: none

feat: speed up test marker verification
  docs/release/0.1.0-alpha.1.md
  scripts/verify_test_markers.py
  tests/unit/scripts/test_verify_test_markers.py
Due: check-reqid

fix: guard LMStudio provider by default
  docs/release/0.1.0-alpha.1.md
  src/devsynth/application/llm/provider_factory.py
  src/devsynth/application/llm/providers.py
  tests/unit/application/cli/commands/test_run_tests_cmd.py
Due: check-reqid

docs: document CLI entrypoint, logger, and metrics
  dialectical_audit.log
  docs/specifications/cli_entrypoint.md
  docs/specifications/logger_configuration.md
  docs/specifications/metrics_module.md
  src/devsynth/cli.py
  src/devsynth/logger.py
  src/devsynth/metrics.py
Due: none

docs: analyze run-tests workflow
  docs/analysis/index.md
  docs/analysis/run_tests_workflow_analysis.md
  docs/release/0.1.0-alpha.1.md
  docs/specifications/devsynth-run-tests-command.md
  src/devsynth/application/cli/commands/run_tests_cmd.py
Due: none

test: verify run-tests command works without optional providers
  docs/release/0.1.0-alpha.1.md
  src/devsynth/application/llm/provider_factory.py
  src/devsynth/application/llm/providers.py
  tests/unit/application/cli/commands/test_run_tests_dummy.py
  tests/unit/application/cli/commands/test_run_tests_subprocess.py
Due: check-reqid

docs: record environment setup progress
  issues/devsynth-run-tests-hangs.md
  issues/release-readiness-v0-1-0-alpha-1.md
Due: none

docs: add run-tests workflow analysis
  docs/analysis/index.md
  docs/analysis/run_tests_workflow.md
  docs/release/0.1.0-alpha.1.md
  src/devsynth/application/cli/commands/run_tests_cmd.py
  tests/test_speed_dummy.py
Due: check-reqid

docs(issues): record jsonschema missing in run-tests
  issues/devsynth-run-tests-hangs.md
Due: none

test: guard optional deps
  AGENTS.md
  tests/AGENTS.md
  tests/integration/general/test_chromadb_memory_store_integration.py
  tests/integration/general/test_ingestion_pipeline.py
  tests/integration/memory/test_chromadb_fallback.py
  tests/test_chromadb_store_import.py
  tests/unit/adapters/test_chromadb_memory_store.py
  tests/unit/adapters/test_chromadb_vector_adapter.py
  tests/unit/application/memory/test_sync_across_backends.py
Due: check-reqid

fix: harden import path and pre-test checks
  docs/release/0.1.0-alpha.1.md
  issues/release-readiness-v0-1-0-alpha-1.md
  scripts/install_dev.sh
  src/devsynth/__init__.py
  tests/test_speed_dummy.py
Due: check-reqid

test: guard agent API tests behind fastapi importorskip
  docs/release/0.1.0-alpha.1.md
  tests/AGENTS.md
  tests/behavior/test_agentapi.py
Due: check-reqid

feat: add feature marker enum and exception utility
  docs/requirements_traceability.md
  docs/specifications/complete-memory-system-integration.md
  docs/specifications/exceptions_framework.md
  docs/specifications/feature_markers.md
  src/devsynth/exceptions.py
  src/devsynth/feature_markers.py
  tests/behavior/features/exceptions_framework.feature
  tests/behavior/features/feature_markers.feature
  tests/behavior/features/index.md
  tests/test_speed_dummy.py
  tests/unit/devsynth/test_exceptions_framework.py
  tests/unit/devsynth/test_feature_markers.py
Due: verify-requirements-traceability, check-reqid

docs: add proofs and benchmarks
  docs/specifications/enhance-retry-mechanism.md
  docs/specifications/multi-agent-collaboration.md
  tests/performance/test_multi_agent_benchmarks.py
Due: check-reqid

Path conditions:
  verify-requirements-traceability: any of: ^docs/requirements_traceability.md$
  check-reqid: any of: ^tests/.*\.py$
