Repository ravenoak/devsynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements-traceability, check-reqid

verify-requirements-traceability:
  name: verify requirements traceability
  entry: poetry run python scripts/verify_requirements_traceability.py
  language: system
  pass_filenames: false

check-reqid:
  name: check test ReqID
  entry: python scripts/check_reqid.py
  language: system
  pass_filenames: true

docs: note poetry venv path
  AGENTS.md
Due: none

docs(memory): refresh tiered cache requirements
  docs/requirements_traceability.md
  docs/specifications/multi-layered-memory-system.md
  issues/multi-layered-memory-system.md
  src/devsynth/adapters/memory/memory_adapter.py
  tests/property/test_tiered_cache_properties.py
Due: verify-requirements-traceability, check-reqid

test: fix agent API stub for medium tests
  docs/release/0.1.0-alpha.1.md
  issues/Resolve-pytest-xdist-assertion-errors.md
  tests/behavior/steps/test_agent_api_steps.py
Due: check-reqid

feat: add project state analysis interface
  docs/specifications/project-state-analysis.md
  issues/project-state-analysis.md
  src/devsynth/application/code_analysis/__init__.py
  src/devsynth/application/code_analysis/project_state_analysis.py
  tests/behavior/features/project_state_analysis.feature
  tests/behavior/steps/test_project_state_analysis_steps.py
Due: check-reqid

feat: add missing cli command groups
  issues/Resolve-pytest-xdist-assertion-errors.md
  src/devsynth/application/cli/cli_commands.py
  src/devsynth/application/cli/commands/documentation_cmds.py
  src/devsynth/application/cli/commands/metrics_cmds.py
  src/devsynth/application/cli/commands/validation_cmds.py
Due: none

ci: verify test markers in workflow
  .github/workflows/ci.yml
  AGENTS.md
  docs/AGENTS.md
  docs/testing/verify_test_markers.md
Due: none

docs: cross-link specifications with issues and BDD features
  CHANGELOG.md
  dialectical_audit.log
  docs/specifications/code-analysis.md
  docs/specifications/complete-memory-system-integration.md
  docs/specifications/complete-sprint-edrr-integration.md
  docs/specifications/critical-recommendations-follow-up.md
  docs/specifications/enhance-retry-mechanism.md
  docs/specifications/expand-test-generation-capabilities.md
  docs/specifications/finalize-dialectical-reasoning.md
  docs/specifications/finalize-wsde-edrr-workflow-logic.md
  docs/specifications/improve-deployment-automation.md
  docs/specifications/integrate-dialectical-audit-into-ci.md
  docs/specifications/multi-agent-collaboration.md
  docs/specifications/multi-layered-memory-system.md
  docs/specifications/reprioritize-open-issues.md
  docs/specifications/resolve-pytest-xdist-assertion-errors.md
  docs/specifications/user-authentication.md
  tests/behavior/test_release_state_check.py
  tests/verify_test_organization.py
Due: check-reqid

ci: fail dialectical audit on unresolved questions
  .github/workflows/dialectical-audit.yml
  docs/policies/dialectical_audit.md
Due: none

docs: analyze memory, edrr, and mvu components
  docs/analysis/edrr_component_analysis.md
  docs/analysis/index.md
  docs/analysis/memory_component_analysis.md
  docs/analysis/mvu_component_analysis.md
Due: none

docs: link specs and issues to tests
  docs/specifications/interactive-requirements-flow-cli.md
  docs/specifications/kuzu-memory-integration.md
  issues/interactive-requirements-flow-cli.md
  issues/kuzu-memory-integration.md
Due: none

chore: log release state verification
  dialectical_audit.log
Due: none

docs: archive reprioritization ticket
  issues/archived/reprioritize-open-issues.md
Due: none

docs: expand memory manager spec
  docs/specifications/memory-manager-and-adapters.md
  tests/behavior/features/memory_adapter_integration.feature
Due: none

docs: specify EDRR coordinator
  docs/specifications/edrr-coordinator.md
  tests/behavior/features/edrr_coordinator.feature
Due: none

docs: publish release 0.1.0-alpha.1
  docs/release/0.1.0-alpha.1.md
  scripts/verify_test_markers.py
  tests/integration/general/test_agent_api.py
  tests/integration/general/test_agent_api_security.py
  tests/integration/general/test_agentapi_routes.py
  tests/unit/application/memory/test_basic_crud_adapters.py
  tests/unit/general/test_api.py
  tests/unit/interface/test_api_advanced.py
  tests/unit/interface/test_api_endpoints.py
Due: check-reqid

feat: add issue reprioritization command
  docs/specifications/reprioritize-open-issues.md
  issues/reprioritize-open-issues.md
  src/devsynth/application/cli/commands/extra_cmds.py
  src/devsynth/application/cli/commands/reprioritize_issues_cmd.py
  src/devsynth/application/issues/__init__.py
  src/devsynth/application/issues/reprioritize.py
  tests/behavior/features/reprioritize_open_issues.feature
Due: none

feat: add seedable RNG for WSDE voting
  src/devsynth/domain/models/wsde_voting.py
  tests/unit/domain/models/test_wsde_voting_logic.py
Due: check-reqid

docs: track test marker verification failures
  issues/verify-test-markers-script.md
Due: none

test: gate memory backend tests behind flags
  issues/memory-backend-integration.md
  tests/README.md
  tests/unit/application/memory/test_chromadb_store.py
  tests/unit/application/memory/test_duckdb_store.py
  tests/unit/application/memory/test_duckdb_store_hnsw.py
  tests/unit/application/memory/test_faiss_store.py
  tests/unit/application/memory/test_kuzu_store.py
  tests/unit/application/memory/test_lmdb_store.py
  tests/unit/application/memory/test_rdflib_store.py
  tests/unit/application/memory/test_tinydb_store.py
Due: check-reqid

Path conditions:
  verify-requirements-traceability: any of: ^docs/requirements_traceability.md$
  check-reqid: any of: ^tests/.*\.py$
