Repository ravenoak/devsynth: changes, and which pre-commit hooks are due for each by the changed paths.
All: verify-requirements-traceability, check-reqid

.pre-commit-config.yaml:

repos:
- repo: local
  hooks:
    - id: devsynth-align
      name: devsynth align
      entry: devsynth align --quiet
      language: system
      pass_filenames: false
    - id: check-frontmatter
      name: check frontmatter formatting
      entry: python scripts/fix_frontmatter.py --check
      language: system
      pass_filenames: false
    - id: check-internal-links
      name: check internal links
      entry: python scripts/check_internal_links.py
      language: system
      pass_filenames: false
    - id: fix-code-blocks
      name: fix code blocks
      entry: python scripts/fix_code_blocks.py --check
      language: system
      pass_filenames: false
    - id: find-syntax-errors
      name: find syntax errors
      entry: python scripts/find_syntax_errors.py
      language: system
      pass_filenames: false
    - id: verify-mvuu-references
      name: verify mvuu references
      entry: python scripts/verify_mvuu_references.py
      language: system
      pass_filenames: false
      stages: [push]
    - id: verify-requirements-traceability
      name: verify requirements traceability
      entry: poetry run python scripts/verify_requirements_traceability.py
      language: system
      pass_filenames: false
      files: ^docs/requirements_traceability.md$
    - id: spec-or-test-updates
      name: warn on missing spec or test updates
      entry: python scripts/check_spec_or_test_updates.py
      language: system
      pass_filenames: false
    - id: check-reqid
      name: check test ReqID
      entry: python scripts/check_reqid.py
      language: system
      pass_filenames: true
      files: ^tests/.*\.py$
    - id: update-traceability
      name: update traceability
      entry: python scripts/update_traceability.py
      language: system
      pass_filenames: false
      stages: [post-commit]
    - id: policy-audit
      name: policy audit
      entry: python scripts/policy_audit.py
      language: system
      pass_filenames: false
      stages: [push]
    - id: commit-message-lint
      name: commit message lint
      description: lint commit messages for MVUU compliance
      entry: python scripts/commit_linter.py
      language: system
      stages: [commit-msg]
      pass_filenames: true
    - id: bandit
      name: bandit security check
      entry: poetry run bandit -q -r src
      language: system
      pass_filenames: false
      stages: [push]
    - id: safety
      name: safety vulnerability check
      entry: poetry run safety check --full-report
      language: system
      pass_filenames: false
      stages: [push]
- repo: https://github.com/pre-commit/pre-commit-hooks
  rev: v4.4.0
  hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-yaml
    - id: check-added-large-files
- repo: https://github.com/psf/black
  rev: 25.1.0
  hooks:
    - id: black
- repo: https://github.com/pycqa/isort
  rev: 5.12.0
  hooks:
    - id: isort
- repo: https://github.com/pycqa/flake8
  rev: 7.0.0
  hooks:
    - id: flake8
      additional_dependencies: [flake8-docstrings]
      args: [--exit-zero]

docs: add proofs and benchmarks
  docs/specifications/enhance-retry-mechanism.md
  docs/specifications/multi-agent-collaboration.md
  tests/performance/test_multi_agent_benchmarks.py
Due: check-reqid

feat: add feature marker registry and exception logging
  docs/requirements_traceability.md
  docs/specifications/exceptions_framework.md
  docs/specifications/feature_markers.md
  src/devsynth/exceptions.py
  src/devsynth/feature_markers.py
  tests/behavior/steps/test_exceptions_framework_steps.py
  tests/behavior/steps/test_feature_markers_steps.py
  tests/unit/general/test_exception_logging.py
Due: verify-requirements-traceability, check-reqid

chore(issues): update dependencies for alpha release
  issues/devsynth-run-tests-hangs.md
  issues/release-readiness-v0-1-0-alpha-1.md
Due: none

chore: verify Python version and document poetry usage
  AGENTS.md
  Taskfile.yml
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
  scripts/verify_python_version.py
Due: none

feat(methodology): map sprint review to EDRR phases
  docs/specifications/complete-sprint-edrr-integration.md
  src/devsynth/methodology/sprint_adapter.py
  tests/behavior/features/complete_sprint_edrr_integration.feature
Due: none

feat(cli): lazily import run-tests command
  poetry.lock
  pyproject.toml
  src/devsynth/cli.py
  tests/test_speed_dummy.py
  tests/unit/scripts/test_run_all_tests_wrapper.py
Due: check-reqid

feat: download task binary if missing
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
  tests/test_speed_dummy.py
  tests/unit/deployment/test_bootstrap_script.py
Due: check-reqid

feat: add coverage reset and synchronization simulations
  docs/analysis/coverage_reset_proof.md
  docs/analysis/synchronization_algorithm_proof.md
  scripts/layered_cache_simulation.py
  scripts/transaction_lifecycle_simulation.py
  tests/test_speed_dummy.py
Due: check-reqid

feat(memory): add cross-store synchronization manager
  docs/specifications/complete-memory-system-integration.md
  src/devsynth/memory/sync_manager.py
  tests/test_speed_dummy.py
  tests/unit/general/test_sync_manager_integration.py
  tests/unit/memory/test_sync_manager.py
Due: check-reqid

test: preserve sentinel test across runs
  docs/analysis/index.md
  docs/analysis/test_marker_verification_benchmark.md
  scripts/verify_test_markers.py
  tests/test_speed_dummy.py
  tests/unit/general/test_speed_option.py
Due: check-reqid

feat: add proofs and simulations for reset and sync
  docs/analysis/coverage_reset_proof.md
  docs/analysis/synchronization_algorithm_proof.md
  docs/specifications/hybrid-memory-query-patterns-and-synchronization.md
  docs/specifications/multi-layered-memory-system-and-tiered-cache-strategy.md
  docs/specifications/resolve-pytest-xdist-assertion-errors.md
  issues/Resolve-pytest-xdist-assertion-errors.md
  issues/archived/multi-layered-memory-system-and-tiered-cache-strategy.md
  issues/hybrid-memory-query-patterns-and-synchronization.md
  scripts/layered_cache_simulation.py
  scripts/transaction_lifecycle_simulation.py
Due: none

feat(memory): sync multiple stores
  docs/specifications/complete-memory-system-integration.md
  src/devsynth/memory/__init__.py
  src/devsynth/memory/sync_manager.py
  tests/unit/general/test_sync_manager_persistence.py
  tests/unit/memory/test_sync_manager_transaction_failure.py
Due: check-reqid

feat(deployment): install go-task when missing
  docs/release/0.1.0-alpha.1.md
  scripts/install_dev.sh
  tests/unit/deployment/test_bootstrap_script.py
Due: check-reqid

docs: add benchmark for marker verification
  docs/analysis/index.md
  docs/analysis/verify_test_markers_benchmark.md
  scripts/verify_test_markers.py
Due: none

docs(issues): consolidate duplicates and add milestone dashboard
  issues/archived/cli-ux-enhancements.md
  issues/archived/memory-adapter-read-and-write-operations.md
  issues/cli-ui-parity.md
  issues/cli-ux-enhancements.md
  issues/dashboard.md
  issues/memory-adapter-integration.md
  issues/memory-adapter-read-and-write-operations.md
Due: none

chore: verify release workflow
  Taskfile.yml
  docs/release/0.1.0-alpha.1.md
Due: none

ci: expand and harden pipelines with test reports and smoke lanes
  .github/workflows/ci.yml
  .github/workflows/commit_message_lint.yml
  .github/workflows/coverage.yml
  .github/workflows/dev_env_check.yml
  .github/workflows/examples_smoke.yml
  .github/workflows/hygiene.yml
  .github/workflows/install_dev_smoke.yml
  .github/workflows/lint.yml
  .github/workflows/mypy_baseline.yml
  .github/workflows/mypy_incremental.yml
  .github/workflows/packaging_sanity.yml
  .github/workflows/packaging_test.yml
  .github/workflows/pytest_collect.yml
  .github/workflows/quality.yml
  .github/workflows/release_prep.yml
  .github/workflows/release_prep_dry_run.yml
  .github/workflows/secret_scan.yml
  .github/workflows/security_scan.yml
  .github/workflows/smoke_matrix.yml
  .github/workflows/traceability.yml
  .github/workflows/typecheck.yml
  .github/workflows/unit_tests.yml
Due: none

chore(templates): add feature-flag deprecation issue template and refresh PR template
  .github/ISSUE_TEMPLATE/feature_flag_deprecation.md
  .github/PULL_REQUEST_TEMPLATE.md
Due: none

chore(scripts): add examples smoke runner; tighten code/example verifiers and interface fixer
  scripts/examples_smoke.py
  scripts/fix_interface_syntax.py
  scripts/verify_code_examples.py
Due: none

refactor(cli): sanitize inspect output and clarify mypy relaxations
  src/devsynth/application/cli/commands/inspect_code_cmd.py
Due: none

refactor(adapters): refine langgraph workflow status handling and imports
  src/devsynth/adapters/orchestration/langgraph_adapter.py
Due: none

refactor(ports): tidy onnx_port imports and structure for clarity
  src/devsynth/ports/onnx_port.py
Due: none

chore(scripts): add pytest collection, ReqID reference, and resource marker verifiers
  scripts/verify_pytest_collection.py
  scripts/verify_reqid_references.py
  scripts/verify_resource_markers.py
Due: none

test(infra): update global test fixtures and environment isolation
  conftest.py
Due: none

chore(repo): update pre-commit hooks, gitignore, Taskfile, Dockerfile, and defaults
  .gitignore
  .pre-commit-config.yaml
  Dockerfile
  Taskfile.yml
  config/default.yml
Due: none

feat(cli): add experimental atomic-rewrite command behind feature flag
  src/devsynth/application/cli/commands/atomic_rewrite_cmd.py
Due: none

build: update dependencies, extras, and pytest configuration
  poetry.lock
  pyproject.toml
  pytest.ini
Due: none
